// VARIABLES Générales

$greenmiso: #B2FFA8;
$whitemiso: #FDFFFC;
$blackmiso: #071013;
$greymiso: #D6D6D6;

$html: #EE6333;
$css:#2779B7;
$bootstrap: #573F7B;
$jquery: #2E78B3;
$sketch: #FDAD2A;
$toshop:#1CAAD4;
$sql:#DB9048;
$php: #777CB1;
$sass: #CB689A;

//Test couleur #A4ABBB gris clair
//MARGIN INTER section

$marginTopSection: 20%;

// Progress Bar
$progressW: 100%;
$progressH: 20px;
$progressBorder: 4px black solid;
$progressRad: 11px;
$OriginalW:5%;

//Loading BAR
$load_H: 10px;
$load_Rad: 15px;


//Banner pics
$bannerW: 100%;
$bannerH: 710px;
$bannerFit: cover;


//Title SIZES
